chromedriver.exe
proxy_results.csv
db.sqlite3
manage.py 
__pycache__
proxies.py
proxy1_results.csv
floor_sheet_data.csv
broker_volume_data.csv
enhanced_floorsheet_data.csv
floorsheet_floorsheetdata.csv
stock_wise_broker_tracker.txt